#skills {
  overflow: hidden;
  width: 100vw;
  max-width: 65rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.skillTitle {
  font-size: 3rem;
  font-weight: 600;
  padding-top: 3rem;
  margin-bottom: 1.5rem;
}

.skillDesc {
  font-weight: 300;
  font-size: 1rem;
  max-width: 50rem;
  padding: 0 2rem;
}

.skillBlockContainer {
  /* padding-top: 20px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 60px;
}

.skillBlock {
  /* margin-top: 8px; */
  /* border-top: 2px solid; */
  /* border-bottom: 2px solid; */
  width: 22vh;
  height: 25vh;
  display: flex;
  justify-content: center;
}

.skillBlock img {
  border: 2px solid;
  height: 18vh;
  width: 18vh;
  align-self: center;
}

.skillBars {
  margin: 0.8rem;
  width: 100vw;
  max-width: 80%;
  text-align: left;
}

.skillBar {
  display: flex;
  margin: 1rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: rgb(50, 50, 50);
}

.skillBarIcon {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin-right: 2rem;
}

.skillBarText > p {
  font-size: 0.9rem;
  font-weight: 200;
}

@media screen and (max-width: 720px) {
  .skillBarText > p {
    font-size: 2vw;
  }
  .skillBlock {
    padding: 0;
  }
  .skillBlock img {
    height: 5rem;
    width: 5rem;
  }
  .skillBlockContainer {
    margin: 0 20px;
  }
}

@media screen and (max-width: 480px) {
  .skillBarText > p {
    font-size: 3vw;
  }
  .skillBarIcon {
    height: 2.25rem;
    width: 2.25rem;
  }
  .skillBarText {
    font-size: 5vw;
  }
}
